In [33]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pandas as pd

In [ ]:
data = pd.read_csv('dataset/fraud_data.csv')

In [ ]:
data.head()

In [ ]:
import numpy as np

In [ ]:
print(data.isnull().sum())

In [ ]:
#Exploring the magnitude of individual transaction types
print(data.type.value_counts())

In [ ]:
#Visualizing the distribution of transaction types that we explored above
type = data['type'].value_counts()
transactions = type.index
quantity = type.values

import plotly.express as px
figure = px.pie(data, values = quantity, names = transactions, hole = 0.5, title = 'Distributon Of Transaction types')
figure.show()

In [ ]:
# Find rows where 'isFraud' column has NaN values
rows_with_nan = data[data['isFraud'].isna()]

# Print rows with NaN values
print(rows_with_nan)

In [ ]:
# Remove rows where any column contains NaN values
data.dropna(how='any', inplace=True)

In [ ]:
# Find rows where 'isFraud' column has NaN values
rows_with_nan = data[data['isFraud'].isna()]

# Print rows with NaN values
print(rows_with_nan)

In [ ]:
#Checking the correlation
correlation_data = data.corr()
print(correlation_data['isFraud'].sort_values(ascending = False))

In [ ]:
#Transforming categorical feautres into numerical
data['type'] = data['type'].map({'CASH_OUT' : 1, 'PAYMENT' : 2, 'CASH_IN' : 3, 'TRANSFER' : 4, 'DEBIT' : 5})
data['isFraud'] = data['isFraud'].map({0:'No Fraud', 1:'Fraud'})
print(data.head())

In [ ]:
#Training a classification model
from sklearn.model_selection import train_test_split

x= np.array(data[['type', 'amount', 'oldbalanceOrg', 'newbalanceOrig']])

y = np.array(data[['isFraud']])

In [ ]:
#Training the model
from sklearn.tree import DecisionTreeClassifier
X_train, x_test, Y_train, y_test = train_test_split(x, y, test_size= 0.10, random_state = 42)
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
print(model.score(x_test, y_test))

In [ ]:
# prediction based upon our model trained
#template of features = [type, amount, oldbalanceOrg, newbalanceOrig]
features = np.array([[0, 9000.00, 12000.00, 3000.0]])
print(model.predict(features))